*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html::-webkit-scrollbar{
  display: none;
}
.ban h1{
    font-size: 7rem;
    font-weight: 800;
    color: yellow;
    text-shadow: #e7e2ff;
}
.ban h3{
    font-size: 300%;
    font-weight: 500;
    color: white;
}
.ban p{
  color: white;
  font-size: 110%;
  margin-top: 4%;
  margin-bottom: 4%;
  line-height: 170%;
  font-family: Arial, Helvetica, sans-serif;
}
.ban button{
  font-size: 110%;
  font-weight: 700;
  border: 3px solid yellow;
  color: black;
}
.r3{
    background-color: #81bae2;
}
.r2 h2{
    font-size: 300%;
    font-weight: 700;
    color: rgb(104, 10, 10);
}
.r2 p{
    font-size: 110%;
    line-height: 170%;
    font-weight: 600;
}
.rrr{
    background-image: url(./images/bidban.jpg);
    background-color: rgba(0, 0, 0, 0.358);
    color: white;
}
.cdd{
  background-color: rgb(240, 233, 224) !important  ;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}
.pcc{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

/* Header */
.he{
  color:white;
  text-decoration: none;
  font-size: 130%;
}
.he:hover{
  color: yellow;
}

.banh{
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(36, 35, 35, 0.70), 
      rgba(36, 35, 35, 0.70)
    ),
    /* bottom, image */
    url(./images/banim22.png);
  /* background-image: url(./images/Online-bidding.jpeg); */
  background-repeat: no-repeat;
  background-size: cover;
}

/* auth */

.log{
    background-color: #e7e2ff;
    font-family: "Playfair Display", serif;
  }
  .pp1{
    background-color: white;
  }
  .pp2{
    background-color: #5d46ee;
  }
  .r1{
    width: 60%;
    height: 80%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
  .bb{
    background-color: #5d46ee !important;
    color: white !important;
    font-weight: 700 !important;
  }
  .bb:hover{
    border: #5d46ee 2px solid !important;
    color: #5d46ee !important;
    background-color: white !important;
  }
  .line{
    border-top: 2px solid rgb(125, 123, 123);
  }
  .pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  /* dashboard */

  .cc{
    color: #5d46ee;
  }

  .tab th{
    font-size: 20px;
  }

  .under{
    border-bottom: 2px solid yellow;
  }

  .dash{
      margin-top: 80px;
  }
  .nn{
    color: #d83f20;
  }
  .ps{
    color: #a76d48;
  }

  /* .coo{
    background-color: bisque;
  } */

@media(max-width:450px){
    .ban{
        margin-top: 80px;
    }
    .ban h1{
        font-size: 5rem;
    }
}